<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <style>
        body{
            background-color: #282a36;
        }
        img{
            height: 200px;
        }
        .bb{
            background-color: #44475a;
        }
        h1{
            color: #50fa7b;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <!-- <h1>Hello, world!</h1> -->
    <div class="container">
        <h1>Ai recommendation for {{name}}</h1>
      <div class="row">
        {% for i,j in dd %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bb" style="width: 18rem;">
                <img  src="https://jsondatasend.pythonanywhere.com/static/{{j}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p style="color: #ff79c6;" class="card-text">{{i}}</p>
                </div>
              </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
